:root {
  --main-font-family: "Nunito", sans-serif;
  --darck-color: black;
  --main-color: white;
  --secondary-color: #ee6336;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

html {
  font-family: var(--main-font-family);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
